@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
/* Hide scrollbar for mobile scroll container */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
